div {
    font-family: Arial;
}
.notif
{
    border-color: grey;
    border-width: 1px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 300px;
    border-radius: 6px;
    border-style: solid;
}
.number{
    background-color: rgb(49, 109, 245);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
  }
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }